@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

*{
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

.mainCanvas {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -346px; 
  margin-left: -173px; 
  height: 700px;
  width: 348px;
  align-items: center;
}

.MapBorder {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -374px; 
  margin-left: -206px; 
  height: 700px;
  width: 400px;
  align-items: center;
  z-index: -1;
  animation: fade-up 2s;
}
.Controls {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -350px; 
  margin-left: -450px; 
  height: 700px;
  width: 400px;
  align-items: center;
  z-index: -1;
  animation: fade-up 2s;
}

.secondCanvas {
  position: absolute;
  top: 15%;
  left: calc(50% + 220px); /* Adjust the value (420px) based on the width of mainCanvas and desired margin */
  width: 150px;
  height: auto;
}
.thirdCanvas {
  position: absolute;
  top: 11%;
  left: calc(50% + 200px); /* Adjust the value (420px) based on the width of mainCanvas and desired margin */
  width: 150px;
  height: auto;
}
.GameOverCanvas{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -370px; 
  margin-left: -180px; 
  height: 700px;
  width: 400px;
  align-items: center;
}
.GameOverReset{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -165px; 
  margin-left: -120px; 
  height: 370px;
  width: 250px;
  align-items: center;
}

.GameStartCanvas{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -370px; 
  margin-left: -115px; 
  height: 700px;
  width: 400px;
  align-items: center;
  animation: fade-up 2s;
}

.GameEnterCanvas{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -175px; 
  margin-left: -109px; 
  height: 370px;
  width: 250px;
  align-items: center;
  animation: fade-up 2s;
}

body{
  font-family: 'Poppins', 'Pixelify Sans', sans-serif;
  background-color: #000000;
}

nav{
    max-width:  1200px;
    margin: auto;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

/*Animations*/
@keyframes toggleWidth {
  0%, 100% {
      width: 100%;
  }
  50% {
      width: 20%;
  }
}

@keyframes animate{
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 100%; }
  100% { background-position: 0% 50%; }
}

@keyframes fade-up{
  0%{
      opacity: 0;
      transform: translateY(30px) scale(0.9);
  }
  100%{
      opacity: 1;
      transform: translateY(0px) scale(1);
  }
}
@keyframes fade-down{
  0%{
      opacity: 0;
      transform: translateY(-30px) scale(0.9);
  }
  100%{
      opacity: 1;
      transform: translateY(0px) scale(1);
  }
}
/*Animations*/

/* For Tablet */
@media screen and (min-width: 750px) {
  .mainCanvas {
  margin-top: -346px; 
  margin-left: -173px; 
  }

  .MapBorder {
    margin-top: -374px; 
    margin-left: -206px; 
  }
}

/* For Mobile */
@media screen and (max-width: 600px) {
  .mainCanvas {
  margin-top: -180px; 
  margin-left: -96px;
  }

  .MapBorder { 
  margin-top: -214px; 
  margin-left: -210px;
  }
}

