@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

*{
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

.mainCanvas {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 25px);
  width: 350px;
  height: auto;
}

.secondCanvas {
  position: absolute;
  top: 15%;
  left: calc(50% + 420px); /* Adjust the value (420px) based on the width of mainCanvas and desired margin */
  width: 150px;
  height: auto;
}
.thirdCanvas {
  position: absolute;
  top: 11%;
  left: calc(50% + 420px); /* Adjust the value (420px) based on the width of mainCanvas and desired margin */
  width: 150px;
  height: auto;
}

body{
  font-family: 'Poppins', sans-serif;
  display: flex;
  background-color: #000000;
}


nav{
    max-width:  1200px;
    margin: auto;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

/*StickyHeader*/
.nav-links{
    margin: auto;
    font-weight: 600;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    animation: fade-up 2s;
  }
  
  a{
    text-decoration: none;
    color: #ef5f5f;
  }
  
  .link a{
    position: relative;
    padding-bottom: 0.75rem;
  }
  
  .link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #ef5f5f;
    transition: all 0.3s ease;
  }
  
  .link a:hover::after{
    width: 100%;
  }
  
  /* Style specifically for the "Home" link */
  .link a[href="#"]::after {
    width: 100%; /* Set the initial width to 100% for the Home link */
  }
  
  /* Animation for the "Home" link on click*/ 
  .link a.home::after {
    animation: toggleWidth 0.5s forwards;
  }
  
  .btn{
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 100px;
    background: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .btn:hover{
    background-color: beige;
    transition: all 0.3s ease;
  }
  
  .btn i {
    font-size: 1.5rem;
    font-weight: 300;
    color: #ef5f5f; /* Change the color to your desired color */
  }
  
  .header{
    position: fixed;
    display: flex;
    top: 0px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  
    margin: auto;
    padding: 1px 20px;
    background-color: #000000;
    z-index: 1000;
  }
  
  .header H1{
    font-size: 36px;
    -webkit-text-fill-color:transparent;
    -webkit-text-stroke: 1px #ef5f5f;
    animation: fade-up 2s;
  }
  /*StickyHeader*/
  
  /*Animations*/
  @keyframes toggleWidth {
    0%, 100% {
        width: 100%;
    }
    50% {
        width: 20%;
    }
  }
  
  @keyframes animate{
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 50%; }
  }
  
  @keyframes fade-up{
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
  }
  @keyframes fade-down{
    0%{
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
  }
  /*Animations*/
