@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


*{
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

nav{
  max-width:  1200px;
  margin: auto;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.container {
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -175px; /* Half of the container's height */
  margin-left: -150px; /* Half of the container's width */
  background-color: #a59a9a;
  height: 370px;
  width: 300px;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
  animation: fade-up 2s;
}

.container:hover{
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
}

.container h2{
  font-size: 25 px;
  text-align: center;
  margin: -10px 0 0;
}
.container h3{
  font-size: 15 px;
  font-weight: 400;
  text-align: center;
  margin: 0px 0 0;
}
.player-controls{
  position: relative;
  z-index: 0;
  text-align: center;
  cursor: pointer;
  top: -15px;
  left: 65px;
  width: 200px;
}

.slider{
  -webkit-appearance: none;
  appearance: none;
  margin: auto;
  position: relative;
  left: -15px;
  top: 15px;
  display: flex;
  width: 100%;
  height: 0.4em;
  border-radius: 3px;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 15px; 
  height: 15px; 
  background-color: #25282c; 
  border-radius: 30%; 
  cursor: pointer; 
}

.slider::-moz-range-thumb {
  width: 15px; 
  height: 15px; 
  background-color: #25282c; 
  border-radius: 30%; 
  cursor: pointer; 
}

.fa-solid{
  font-size: 30px;
  color: #666;
  margin-right: 30px;
  user-select: none;
  transition: all 0.3 ease;
}

.fa-solid:hover{
  filter: brightness(40%);
}

.play{
  font-size: 44px;
  position: relative;
  top: 3px;
}

.player-progress{
  background-color: aliceblue;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 20px 35px;
  height: 6px;
  width: 86%;
}

.progress{
  background-color: #212121;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.music-duration{
  position: relative;
  font-size: 12px;
  top: -30px;
  display: flex;
  justify-content: space-between;
}

.player-img{
  width: 200px;
  height: 200px;
  position: relative;
  top: -50px;
  left: 50px;
}

.player-img img{
  object-fit: cover;
  border-radius: 20px;
  height: 0;
  width: 0;
  opacity: 0;
  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
}

.player-img:hover img{
  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.8);
}

.player-img img.active{
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  opacity: 1;
}

input {
  display: none;
}

label{
  border: 1px solid grey;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(214, 214, 214);
  position: absolute;
  margin-top: -15px; /* Half of the container's height */
  margin-left: -45px; /* Half of the container's width */
  top: 50%;
  left: 50%;
  z-index: 1000;
  animation: fade-up 2s;
}

label:hover{
  background-color: rgb(214, 214, 214);
  cursor: pointer;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#visualiser {
  cursor: pointer;
  animation: fade-up 10s;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  background-color: #000000;
}

#visualiser {
  flex: 1;
}

/*Animations*/
@keyframes toggleWidth {
  0%, 100% {
      width: 100%;
  }
  50% {
      width: 20%;
  }
}

@keyframes animate{
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 100%; }
  100% { background-position: 0% 50%; }
}

@keyframes fade-up{
  0%{
      opacity: 0;
      transform: translateY(30px) scale(0.9);
  }
  100%{
      opacity: 1;
      transform: translateY(0px) scale(1);
  }
}
@keyframes fade-down{
  0%{
      opacity: 0;
      transform: translateY(-30px) scale(0.9);
  }
  100%{
      opacity: 1;
      transform: translateY(0px) scale(1);
  }
}
/*Animations*/
