*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

nav{
    max-width:  1200px;
    margin: auto;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-links{
    margin: auto;
    font-weight: 600;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    animation: fade-down 2s;
}

a{
    text-decoration: none;
    color: #ef5f5f;
}
.link a{
    position: relative;
    padding-bottom: 0.75rem;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #ef5f5f;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 100%;
}


.link a.active::after {
  width: 100%;
}


.link a.home::after {
    animation: toggleWidth 0.5s forwards;
}

.btn{
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 100px;
    background: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: beige;
    transition: all 0.3s ease;
}

.btn i {
    font-size: 1.5rem;
    font-weight: 300;
    color: #ef5f5f; 
}

.header{
    position: fixed;
    display: flex;
    top: 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    margin: auto;
    padding: 1px 20px;
    background-color: #000000;
    z-index: 1000; 
}

.header H1{
    font-size: 36px;
    -webkit-text-fill-color:transparent;
    -webkit-text-stroke: 1px #ef5f5f;
    animation: fade-down 2s;
}
