@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}


.logo{
    display: flex;
    border-radius: 50%;
    margin: 10px;
}




body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    background: linear-gradient(-45deg, #4158D0,#e560dc,
    #ffb374,#ef5f5f,#d840b6); 
    
    width: 100%;
    height: 100vh;
    
    background-size: 400% 400%;

    animation: animate 12s ease infinite;
    
}

@keyframes animate{
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 50%; }
}
nav{
    max-width:  1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

a{
    text-decoration: none;
    color: #ef5f5f;
}


.nav-links{
    margin: auto;
    font-weight: 600;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
    animation: fade-up 2s;
}
.link a{
    position: relative;
    padding-bottom: 0.75rem;
}
.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #ef5f5f;
    transition: all 0.3s ease;
}
.link a:hover::after{
    width: 100%;
}
.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    background-color: bisque;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn:hover{
    background-color: beige;
    transition: all 0.3s ease;
}
.header{
    position: fixed;
    display: flex;
    top: 0px;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    margin: auto;
    padding: 1px 20px;
    background-color: #000000;
}
.header H1{
    font-size: 36px;
    -webkit-text-fill-color:transparent;
    -webkit-text-stroke: 1px #ef5f5f;
    animation: fade-up 2s;
}


.AboutMe{
    color: aliceblue;
    background-color: #000000;
    border-radius: 5%;
    width: 40%; 
    margin: auto; 
    margin-top: 10px;
    padding: 20px; 
    text-align: left; 
}
.vol{
    width: 25px;
    height: 25px;
}

.title H1{
    margin-top: 200px;
    text-align: center;
    font-size: 36px;
}

.Projects H1{
    margin-top: 100px;
    text-align: center;
    font-size: 36px;
}

.projDesc{
    color: aliceblue;
    background-color: #000000;
    border-radius: 5%;
    width: 40%; 
    margin: auto;
    margin-top: 10px; 
    padding: 20px; 
    text-align: left; 
}

.Volumebtn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

.Volumebtn:focus {
    outline: none; 
}

@keyframes fade-up{
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
@keyframes fade-down{
    0%{
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}






